<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Все заметки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="navbar-brand">Главная</a>
            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/}" class="navbar-brand">Главная</a>
            <form class="d-flex" action="@{/logout}" method="post" th:action="@{/logout}">
                <button type="submit" class="btn btn-outline-secondary">Выйти</button>
            </form>
        </div>
    </nav>
    <h1 th:text="${note.title}">Заголовок заметки</h1>
    <p th:text="${note.content}">Содержимое заметки</p>
    <small  class="text-body-secondary" th:text="${note.editedAt == null ? 'Дата создания: ' + #temporals.format(note.createdAt, 'HH:mm:ss MMM dd, yyyy') : 'Дата последнего редактирования: ' + #temporals.format(note.editedAt, 'HH:mm:ss dd-MM-yyyy')}"></small>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <span>Автор: </span>
        <a th:href="@{/admin/users/{id}(id=${note.author.id})}" th:text="${note.author.lastname}">Автор</a>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')" class="form-group mt-3">
        <div>
            <a th:href="@{/notes/edit/{id}(id=${note.id})}" class="btn btn-primary mt-3">Редактировать</a>
        </div>
        <form th:action="@{/notes/delete/{id}(id=${note.id})}" th:method="delete">
            <button type="submit" class="btn btn-primary mt-3">Удалить заметку</button>
        </form>
    </div>
</div>
</body>
</html>
